.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: rgba(128, 162, 236, 0.377);
    padding: 20px;
    margin: 28px;
    border-radius: 10px;

}
.form__contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form h1{
    margin-bottom: 20px;
}
.form input{
    width: 300px;
    padding: 7px;
}
.form button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(77, 128, 170);
    color: white;
    font-size: 17px;
}